.waga {
    color: burlywood;
    background-color: rgb(91, 2, 2);
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    ;
}